/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow:wght@500&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,500;0,700;1,400;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@200;300;700&display=swap'); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora';
  color: black;
}

:root {
  /* CSS HEX */
  --ivoryGoddess: #F5EBE0;
  --ecruPrincess: #E3D5CA;
  --taupeToad: #D5BDAF;
  --mossyRock: #79836A;
  --oliveCoat: #586445;
  --muddyRiver: #4E443A;
  --licorice: #221508;


  --chakra-fontSizes-lg: '16px';
  --chakra-colors-gray-100: '#fafafa';
  --chakra-colors-gray-200: '#f7f7f7';

};

html {
  font-size: 40px;
  font-family: 'Libre Baskerville';
  color: black;
}

body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-family: 'Barlow', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Lora', serif;
  font-family: 'Old Standard TT', serif;
  font-family: 'Roboto Slab', serif;
  background-color: var(--mosseyRock);
}

ul,li{ 
  list-style: none;
}

a {
  text-decoration: none;
}

img, svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
}

footer {
  height: 60px;
  background-color: var(--licorice);
  color: var(--ivoryGoddess);
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  position: absolute;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.gridBg {
  background-color: var(--ecruPrincess);
}


/* Smooth scroll */
[data-scrollbar] {
  height: 100vh;
  overflow: hidden;
  background-color: var(--taupeToad);
  .scroll-content {
    background-color: var(--muddyRiver);
  }
  .scrollbar-track.scrollbar-track-y {
    background: var(--taupeToad);
    .scrollbar-thumb-y {
      background: var(--muddyRiver);
    }
  }
}

/* Additional Typography */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Amatic SC';
  color: var(--oliveCoat);
}

h2.landing {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 1.25rem;
  color: var(--oliveCoat);
 }

.title {
  font-family: Old Standard TT;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
  color: var(--oliveCoat);
 }

 .author {
  font-family: 'Amatic SC';
 }

/* App.css - Header */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* responsive */
/* Standardized Chakra UI breakpoints and sizes built in */

/* // These are the default breakpoints */
/* const breakpoints = {
  sm: '30em', // 480px
  md: '48em', // 768px
  lg: '62em', // 992px
  xl: '80em', // 1280px
  '2xl': '96em', // 1536px
}

// Internally, we transform to this
const breakpoints = ['0em', '30em', '48em', '62em', '80em', '96em'] */

/* Text Elements can also be Responsive */
/* <Text fontSize={{ base: '24px', md: '40px', lg: '56px' }}>
  This is responsive text
</Text> */

/* Image Responsive */
/* <Box p={4} display={{ md: 'flex' }}>
  <Box flexShrink={0}>
    <Image
      borderRadius='lg'
      width={{ md: 40 }}
      src='https://bit.ly/2jYM25F'
      alt='Woman paying for a purchase'
    />
  </Box> */