:root {
  --ivoryGoddess: #F5EBE0;
  --ecruPrincess: #E3D5CA;
  --taupeToad: #D5BDAF;
  --mossyRock: #79836A;
  --oliveCoat: #586445;
  --muddyRiver: #4E443A;

};

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
