/* Bookstore Variation 1 */
:root {
    --ash-gray: #bccabaff;
    --cambridge-blue: #84a98cff;
    --hookers-green: #52796fff;
    --dark-slate-gray: #354f52ff;
    --charcoal: #2f3e46ff;
    --van-dyke: #423533ff;
    --black: #000000ff;

}

/* Bookstore Variation 2 */
:root {
    --eggshell: #faf3ddff;
    --tea-green: #c8d5b9ff;
    --cambridge-blue: #8fc0a9ff;
    --verdigris: #68b0abff;
    --viridian: #4a7c59ff;
    --bistre: #2e1607ff;
    --black: #000000ff;
}

/* Bookstore Variation 3 */
:root {
    --isabelline: #edede9ff;
    --timberwolf: #d6ccc2ff;
    --linen: #f5ebe0ff;
    --champagne-pink: #e3d5caff;
    --pale-dogwood: #d5bdafff;
    --rose-ebony: #593d3bff;
    --jet: #2a2b2aff;
}